// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li {
  list-style-type: none;
  font-size: 1.5em;
}

.task-grey {
  background-color: rgb(86, 97, 192);
  color: white;
  padding: 10px;
  margin: 0 10px 10px 10px;
  font-size: 1em;
  border-radius: 5px;
  display: inline-block;
}

body {
  text-align: center;
}

.link {
  font-size: 1.5em;
}

.line {
  border-top: solid  2px grey;
}

.buttons-down {
  width: 50%;
  margin: 0 auto;
}

.form-container {
  width:50%;
  text-align: center;
}

.form-margin {
  margin: 10px 0;
}
